<div class="friend-container">
  <div>
    <mat-card class="my-friend-card">
      <img mat-card-image src="assets/images/user-4.jpg" />
      <mat-card-content>
        <mat-card-title>Jane Doe</mat-card-title>
        <mat-card-subtitle>Prnjavor</mat-card-subtitle>
      </mat-card-content>
    </mat-card>
  </div>

  <div>
    <mat-card class="my-friend-card">
      <img mat-card-image src="assets/images/user-8.jpg" />
      <mat-card-content>
        <mat-card-title>Jane Doe</mat-card-title>
        <mat-card-subtitle>Prnjavor</mat-card-subtitle>
      </mat-card-content>
    </mat-card>
  </div>

  <div>
    <mat-card class="my-friend-card">
      <img mat-card-image src="assets/images/user-4.jpg" />
      <mat-card-content>
        <mat-card-title>Jane Doe</mat-card-title>
        <mat-card-subtitle>Prnjavor</mat-card-subtitle>
      </mat-card-content>
    </mat-card>
  </div>
  <div>
    <mat-card class="my-friend-card">
      <img mat-card-image src="assets/images/user-4.jpg" />
      <mat-card-content>
        <mat-card-title>Jane Doe</mat-card-title>
        <mat-card-subtitle>Prnjavor</mat-card-subtitle>
      </mat-card-content>
    </mat-card>
  </div>
  <div>
    <mat-card class="my-friend-card">
      <img mat-card-image src="assets/images/user-4.jpg" />
      <mat-card-content>
        <mat-card-title>Jane Doe</mat-card-title>
        <mat-card-subtitle>Prnjavor</mat-card-subtitle>
      </mat-card-content>
    </mat-card>
  </div>

  <div>
    <mat-card class="my-friend-card">
      <img mat-card-image src="assets/images/user-4.jpg" />
      <mat-card-content>
        <mat-card-title>Jane Doe</mat-card-title>
        <mat-card-subtitle>Prnjavor</mat-card-subtitle>
      </mat-card-content>
    </mat-card>
  </div>
</div>
