.container {
  width: 100%;
  display: flex;
  position: relative;
  top: 120px;
}

.posts {
  width: 60%;
  background-color: aquamarine;
  margin: 0 50px;
}

.menu-bar,
.friends {
  width: 20%;
  margin: 0 5px;
}
