.container {
  width: 100%;
  display: flex;
  position: relative;
  top: 100px;
  height: calc(100vh - 100px);
}

.posts {
  width: 60%;
  /* background-color: aquamarine; */
  margin: 0 20px;
}

.menu-bar {
  width: 20%;
  margin: 0 5px;
  padding: 10px 0;
}

.friends {
  width: 20%;
  margin: 15px 5px;
}
