.container {
  width: 100%;
  /* height: 100vh; */
  display: flex;
  position: relative;
  top: 120px;
}

.posts {
  width: 65%;
  background-color: aquamarine;
  margin: 0 50px;
}

.menu-bar {
  width: 15%;
  margin: 0 5px;
}
.friends {
  width: 20%;
  margin: 0 5px;
}
