.container {
  width: 100%;
  height: calc(100vh - 135px);
  overflow-y: auto;
}
.container::-webkit-scrollbar {
  width: 15px;
  display: none;
}

.container::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

.container::-webkit-scrollbar-thumb {
  background-color: lightgray;
  border-radius: 100px;
}

.friend-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px 0;
}

.img-container {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  overflow: hidden;
}
.img-container img {
  width: 100%;
  height: auto;
  display: block;
}
mat-list-item {
  width: 200px;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #363636;
  margin-left: 20px;
}
.dots {
  margin-right: 20px;
  font-size: 10px;
}

h2 {
  margin-left: 20px;
  color: #01a89e;
}

.friend-container:hover .user-image,
.friend-container:hover mat-list-item {
  color: #363636b0;
  cursor: pointer;
}
