<div class="container">
  <h2>My Friends</h2>

  <div class="friend-container">
    <div class="img-container">
      <img src="/assets/images/user-8.jpg" class="user-image" />
    </div>
    <mat-list-item role="listitem">Jane Doe </mat-list-item>
    <i class="fa-solid fa-ellipsis-vertical dots"></i>
  </div>

  <div class="friend-container">
    <div class="img-container">
      <img src="/assets/images/user-9.jpg" class="user-image" />
    </div>
    <mat-list-item role="listitem">Jane Doe </mat-list-item>
    <i class="fa-solid fa-ellipsis-vertical dots"></i>
  </div>

  <div class="friend-container">
    <div class="img-container">
      <img src="/assets/images/user-10.jpg" class="user-image" />
    </div>
    <mat-list-item role="listitem">Jane Doe </mat-list-item>
    <i class="fa-solid fa-ellipsis-vertical dots"></i>
  </div>

  <div class="friend-container">
    <div class="img-container">
      <img src="/assets/images/user-4.jpg" class="user-image" />
    </div>
    <mat-list-item role="listitem">Jane Doe </mat-list-item>
    <i class="fa-solid fa-ellipsis-vertical dots"></i>
  </div>

  <div class="friend-container">
    <div class="img-container">
      <img src="/assets/images/user-11.jpg" class="user-image" />
    </div>
    <mat-list-item role="listitem">Jane Doe </mat-list-item>
    <i class="fa-solid fa-ellipsis-vertical dots"></i>
  </div>
</div>
