<app-fullscreen-media
  *ngIf="selectedMediaSrc && selectedMediaType"
  [mediaSrc]="selectedMediaSrc"
  [mediaType]="selectedMediaType"
  (close)="closeMedia()"
>
</app-fullscreen-media>

<div class="write-status-container">
  <form>
    <div class="img-container">
      <img src="/assets/images/user-8.jpg" class="user-image" />
    </div>
    <input type="text" placeholder="What are you thinking about, Jane?" />
    <button type="submit" class="send-icon-button">
      <i class="fa-regular fa-paper-plane"></i>
    </button>
  </form>
  <hr />
  <div class="icon-container">
    <i class="fa-solid fa-image"> </i>
    <i class="fa-solid fa-video"> </i>
  </div>
</div>

<br />

<div class="status-container">
  <div class="user-info">
    <div class="user-info-container">
      <div class="img-container">
        <img src="/assets/images/user-8.jpg" class="user-image" />
      </div>
      <div class="user-name">
        <h3>Jane Doe</h3>
        <h4>8 hours ago</h4>
      </div>
    </div>
    <div class="hide-post">
      <i class="fa-regular fa-rectangle-xmark"></i>
    </div>
  </div>
  <div class="status">
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s, when an unknown printer took a galley of type and scrambled it to
      make a type specimen book. It has survived not only five centuries, but
      also the leap into electronic typesetting, remaining essentially
      unchanged. It was popularised in the 1960s with the release of Letraset
      sheets containing Lorem Ipsum passages, and more recently with desktop
      publishing software like Aldus PageMaker including versions of Lorem
      Ipsum.
    </p>
  </div>
  <div class="reactions">
    <div>
      <i class="fa-solid fa-heart"></i>
      <i class="fa-solid fa-heart-circle-xmark"></i>
    </div>
    <i class="fa-solid fa-comment"></i>
  </div>
</div>

<div class="image-container">
  <div class="user-info">
    <div class="user-info-container">
      <div class="img-container">
        <img src="/assets/images/user-8.jpg" class="user-image" />
      </div>
      <div class="user-name">
        <h3>Jane Doe</h3>
        <h4>8 hours ago</h4>
      </div>
    </div>
    <div class="hide-post">
      <i class="fa-regular fa-rectangle-xmark"></i>
    </div>
  </div>

  <div class="description">
    <p>This is some description...</p>
  </div>
  <div class="image">
    <img
      src="/assets/images/user-8.jpg"
      (click)="openMedia('/assets/images/user-8.jpg', 'image')"
      class="image-post"
    />
  </div>
  <div class="reactions">
    <div>
      <i class="fa-solid fa-heart"></i>
      <i class="fa-solid fa-heart-circle-xmark"></i>
    </div>
    <i class="fa-solid fa-comment"></i>
  </div>
</div>

<div class="video-container">
  <div class="user-info">
    <div class="user-info-container">
      <div class="img-container">
        <img src="/assets/images/user-8.jpg" class="user-image" />
      </div>
      <div class="user-name">
        <h3>Jane Doe</h3>
        <h4>8 hours ago</h4>
      </div>
    </div>
    <div class="hide-post">
      <i class="fa-regular fa-rectangle-xmark"></i>
    </div>
  </div>
  <div class="video">
    <div class="description">
      <p>This is some description...</p>
    </div>
    <video
      controls
      muted
      (click)="openMedia('/assets/videos/balerina.mp4', 'video')"
    >
      <source src="/assets/videos/balerina.mp4" />
    </video>
  </div>
  <div class="reactions">
    <div>
      <i class="fa-solid fa-heart"></i>
      <i class="fa-solid fa-heart-circle-xmark"></i>
    </div>
    <i class="fa-solid fa-comment"></i>
  </div>
</div>

<div class="status-container">
  <div class="user-info">
    <div class="user-info-container">
      <div class="img-container">
        <img src="/assets/images/user-8.jpg" class="user-image" />
      </div>
      <div class="user-name">
        <h3>Jane Doe</h3>
        <h4>8 hours ago</h4>
      </div>
    </div>
    <div class="hide-post">
      <i class="fa-regular fa-rectangle-xmark"></i>
    </div>
  </div>
  <div class="status">
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s, when an unknown printer took a galley of type and scrambled it to
      make a type specimen book. It has survived not only five centuries, but
      also the leap into electronic typesetting, remaining essentially
      unchanged. It was popularised in the 1960s with the release of Letraset
      sheets containing Lorem Ipsum passages, and more recently with desktop
      publishing software like Aldus PageMaker including versions of Lorem
      Ipsum.
    </p>
  </div>
  <div class="reactions">
    <div>
      <i class="fa-solid fa-heart"></i>
      <i class="fa-solid fa-heart-circle-xmark"></i>
    </div>
    <i class="fa-solid fa-comment"></i>
  </div>
</div>

<div class="video-container">
  <div class="user-info">
    <div class="user-info-container">
      <div class="img-container">
        <img src="/assets/images/user-8.jpg" class="user-image" />
      </div>
      <div class="user-name">
        <h3>Jane Doe</h3>
        <h4>8 hours ago</h4>
      </div>
    </div>
    <div class="hide-post">
      <i class="fa-regular fa-rectangle-xmark"></i>
    </div>
  </div>
  <div class="video">
    <div class="description">
      <p>This is some description...</p>
    </div>
    <video
      controls
      autoplay
      muted
      (click)="openMedia('/assets/videos/balerina2.mp4', 'video')"
    >
      <source src="/assets/videos/balerina2.mp4" />
    </video>
  </div>
  <div class="reactions">
    <div>
      <i class="fa-solid fa-heart"></i>
      <i class="fa-solid fa-heart-circle-xmark"></i>
    </div>
    <i class="fa-solid fa-comment"></i>
  </div>
</div>

<div class="image-container">
  <div class="user-info">
    <div class="user-info-container">
      <div class="img-container">
        <img src="/assets/images/user-8.jpg" class="user-image" />
      </div>
      <div class="user-name">
        <h3>Jane Doe</h3>
        <h4>8 hours ago</h4>
      </div>
    </div>
    <div class="hide-post">
      <i class="fa-regular fa-rectangle-xmark"></i>
    </div>
  </div>

  <div class="description">
    <p>This is some description...</p>
  </div>
  <div class="image">
    <img
      src="/assets/images/nature.webp"
      (click)="openMedia('/assets/images/nature.webp', 'image')"
      class="image-post"
    />
  </div>
  <div class="reactions">
    <div>
      <i class="fa-solid fa-heart"></i>
      <i class="fa-solid fa-heart-circle-xmark"></i>
    </div>
    <i class="fa-solid fa-comment"></i>
  </div>
</div>