<div class="container">
  <mat-list>

    <mat-list-item>
      <img matListItemAvatar src="assets/images/user-4.jpg" />
      <h3 matListItemTitle>Jane Doe</h3>
      <p matListItemLine>01:01 PM Sat, Jan 28</p>
    </mat-list-item>
    <mat-list-item>
      <img matListItemAvatar src="assets/images/user-4.jpg" />
      <h3 matListItemTitle>Jane Doe</h3>
      <p matListItemLine>
        <span>01:01 PM Sat, Jan 28</span>
      </p>
    </mat-list-item>
    <mat-list-item>
      <img matListItemAvatar src="assets/images/user-4.jpg" />
      <h3 matListItemTitle>Jane Doe</h3>
      <p matListItemLine>
        <span>01:01 PM Sat, Jan 28</span>
      </p>
    </mat-list-item>
    <mat-list-item>
      <img matListItemAvatar src="assets/images/user-4.jpg" />
      <h3 matListItemTitle>Jane Doe</h3>
      <p matListItemLine>
        <span>01:01 PM Sat, Jan 28</span>
      </p>
    </mat-list-item>
    <mat-list-item>
      <img matListItemAvatar src="assets/images/user-4.jpg" />
      <h3 matListItemTitle>Jane Doe</h3>
      <p matListItemLine>
        <span>01:01 PM Sat, Jan 28</span>
      </p>
    </mat-list-item>
    <mat-list-item>
      <img matListItemAvatar src="assets/images/user-4.jpg" />
      <h3 matListItemTitle>Jane Doe</h3>
      <p matListItemLine>
        <span>01:01 PM Sat, Jan 28</span>
      </p>
    </mat-list-item>
    <mat-list-item>
      <img matListItemAvatar src="assets/images/user-4.jpg" />
      <h3 matListItemTitle>Jane Doe</h3>
      <p matListItemLine>
        <span>01:01 PM Sat, Jan 28</span>
      </p>
    </mat-list-item>
    <mat-list-item>
      <img matListItemAvatar src="assets/images/user-4.jpg" />
      <h3 matListItemTitle>Jane Doe</h3>
      <p matListItemLine>
        <span>01:01 PM Sat, Jan 28</span>
      </p>
    </mat-list-item>
    <mat-list-item>
      <img matListItemAvatar src="assets/images/user-4.jpg" />
      <h3 matListItemTitle>Jane Doe</h3>
      <p matListItemLine>
        <span>01:01 PM Sat, Jan 28</span>
      </p>
    </mat-list-item>
    <mat-list-item>
      <img matListItemAvatar src="assets/images/user-4.jpg" />
      <h3 matListItemTitle>Jane Doe</h3>
      <p matListItemLine>
        <span>01:01 PM Sat, Jan 28</span>
      </p>
    </mat-list-item>
  </mat-list>
</div>
