<div class="container">
  <div class="chat">
    <div class="message friend">
      <h5>Jane Doe</h5>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book.
      </p>
      <span class="friend-span">01:01 PM Sat, Jan 28</span>
    </div>
    <div class="message user">
      <h5>You</h5>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book.
      </p>
      <span class="user-span">01:01 PM Sat, Jan 28</span>
    </div>
    <div class="message user">
      <h5>You</h5>

      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book.
      </p>
      <span class="user-span">01:01 PM Sat, Jan 28</span>
    </div>
    <div class="message friend">
      <h5>Jane Doe</h5>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book.
      </p>
      <span class="friend-span">01:01 PM Sat, Jan 28</span>
    </div>
    <div class="message friend">
      <h5>Jane Doe</h5>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book.
      </p>
      <span class="friend-span">01:01 PM Sat, Jan 28</span>
    </div>
    <div class="message friend">
      <h5>Jane Doe</h5>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book.
      </p>
      <span class="friend-span">01:01 PM Sat, Jan 28</span>
    </div>
    <div class="message user">
      <h5>You</h5>

      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book.
      </p>
      <span class="user-span">01:01 PM Sat, Jan 28</span>
    </div>
  </div>
  <div class="input-message">
    <div id="text-field">
      <form>
        <textarea id="type-msg" placeholder="Type a message..."></textarea>
      </form>
    </div>
    <div id="icon-container">
      <div class="attach-icons">
        <i class="fa-solid fa-image"></i>
        <i class="fa-solid fa-video"></i>
        <i class="fa-solid fa-link"></i>
        <i class="fa-solid fa-paperclip"></i>
      </div>
      <div class="send-icon">
        <i class="fa-regular fa-paper-plane"></i>
      </div>
    </div>
  </div>
</div>
