<mat-list role="list">
  <mat-list-item role="listitem"
    ><i class="fa-solid fa-users-line icon"></i>My Friends</mat-list-item
  >

  <mat-list-item role="listitem"
  ><i class="fa-regular fa-message icon"></i>Messages</mat-list-item
>
  <mat-list-item role="listitem"
    ><i class="fa-solid fa-arrow-trend-up icon"></i>Trends</mat-list-item
  >
  <mat-list-item role="listitem"
    ><i class="fa-solid fa-signs-post icon"></i>Posts</mat-list-item
  >
  <mat-list-item role="listitem"
    ><i class="fa-solid fa-video icon"></i>Video</mat-list-item
  >
  <mat-list-item role="listitem"
    ><i class="fa-solid fa-images icon"></i>Pictures</mat-list-item
  >
  <mat-list-item role="listitem"
    ><i class="fa-solid fa-people-group icon"></i>Groups</mat-list-item
  >
  <mat-list-item role="listitem"
    ><i class="fa-solid fa-gear icon"></i>Settings</mat-list-item
  >
</mat-list>
