/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */

.container {
  width: 100%;
  display: flex;

  position: relative;
  top: 110px;
  height: calc(100vh - 100px);
}

.message {
  width: 60%;
  margin: 0 20px;
  border-radius: 10px;

}

.messages-list,
.user-info {
  width: 15%;
  margin: 0 5px;
  /* background-color: lightcoral; */
}

.user-info{
  position: relative;
  width: 25%;
}