<div class="container">
  <div class="messages-list">
    <mat-list>
      <mat-list-item
        ><img matListItemAvatar src="assets/images/user-4.jpg" />
        <h3 matListItemTitle>Jane Doe</h3>
      </mat-list-item>

      <mat-list-item
        ><img matListItemAvatar src="assets/images/user-4.jpg" />
        <h3 matListItemTitle>Jane Doe</h3>
      </mat-list-item>
      <mat-list-item
        ><img matListItemAvatar src="assets/images/user-4.jpg" />
        <h3 matListItemTitle>Jane Doe</h3>
      </mat-list-item>
      <mat-list-item
        ><img matListItemAvatar src="assets/images/user-4.jpg" />
        <h3 matListItemTitle>Jane Doe</h3>
      </mat-list-item>
      <mat-list-item
        ><img matListItemAvatar src="assets/images/user-4.jpg" />
        <h3 matListItemTitle>Jane Doe</h3>
      </mat-list-item>
      <mat-list-item
        ><img matListItemAvatar src="assets/images/user-4.jpg" />
        <h3 matListItemTitle>Jane Doe</h3>
      </mat-list-item>
      <mat-list-item
        ><img matListItemAvatar src="assets/images/user-4.jpg" />
        <h3 matListItemTitle>Jane Doe</h3>
      </mat-list-item>
      <mat-list-item
        ><img matListItemAvatar src="assets/images/user-4.jpg" />
        <h3 matListItemTitle>Jane Doe</h3>
      </mat-list-item>
      <mat-list-item
        ><img matListItemAvatar src="assets/images/user-4.jpg" />
        <h3 matListItemTitle>Jane Doe</h3>
      </mat-list-item>
    </mat-list>
  </div>
  <div class="message"></div>
  <div class="user-info"></div>
</div>
