/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */

.container {
  width: 100%;
  display: flex;
  position: relative;
  top: 30px;
}
.message {
  width: 50%;
  background-color: white;
}

.messages-list,
.user-info {
  width: 25%;
  margin: 0 5px;
  /* background-color: lightcoral; */
}


