/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */

.container {
  width: 100%;
  display: flex;
}

.message {
  width: 50%;
  margin: 0 20px;
  border-radius: 10px;
  height: calc(100vh - 150px);
}

.messages-list,
.user-info {
  width: 25%;
  margin: 0 5px;
  /* background-color: lightcoral; */
}
