@import "~@fortawesome/fontawesome-free/css/all.css";

* {
  font-family: "Montserrat", sans-serif;
}
.container {
  background-color: #01a89e;
  width: 470px;
  height: auto;
  margin: auto;
  padding: 70px 50px;
  color: #fffbff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.checkbox-text {
  font-size: 15px;
}

.checkbox-square {
  width: 20px;
  height: 20px;
  border: 1px solid #fffbff;
}

.login-button {
  width: 471px;
  height: 61px;
  text-align: center;
  border: 1px solid #fffbff;
  border-radius: 20px;
  margin-bottom: 20px;
  margin-top: 5px;
  background-color: #01a89e;
  padding: 10px 20px;
  color: #fffbff;
  font-size: 30px;
  font-weight: bold;
}
.login-button:hover,
.login-button:focus {
  color: #fffbff;
  transform: translateY(-6px);
  box-shadow: 10px 10px 20px rgba(206, 223, 221, 0.953);
  border: none;
}

.login-button:disabled {
  background-color: #737373bc;
  cursor: not-allowed;
  transform: none;
  box-shadow: none;
  border: none;
}

.second-box {
  width: 160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-with-icon {
  position: relative;
}

.input-with-icon input[type="text"] {
  padding-left: 50px;
}
.input-with-icon input[type="password"] {
  padding-left: 50px;
}

.input-with-icon i {
  position: absolute;
  left: 10px;
  top: 43%;
  transform: translateY(-50%);
  line-height: 1;
}

i {
  border: 1px solid #fffbff;
  border-radius: 100px;
  padding: 7px;
}

.checkbox-square {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border: 2px solid white;
  border-radius: 5px;
  background-color: #01a89e;
  outline: none;
  cursor: pointer;
  position: relative;
}

.checkbox-square:checked {
  background-color: #01a89e;
}

.checkbox-square:checked:after {
  content: "\2713";
  font-size: 16px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.checkbox-square:hover {
  border-color: lightblue;
}

.input {
  width: 400px;
  border: 1px solid #fffbff;
  border-radius: 20px;
  height: 40px;
  margin-bottom: 20px;
  margin-top: 5px;
  background-color: #01a89e;
  padding: 10px 20px;
  color: #fffbff;
  font-size: 20px;
}

input[type="text"]:focus,
input[type="password"]:focus {
  outline: none;
  border: 2px solid #fffbff; /* Promijenite boju obruba na primjetniju nijansu crvene */
  transition: border-color 0.5s ease-in-out;
}

::placeholder {
  color: #fffbff;
}

.btn {
  text-align: center;
  margin: 15px auto;
}

.create-button {
  padding: 8px 30px;
  background-color: #fffbff;
  color: #01a89e;
  font-weight: bold;
  border: none;
  border-radius: 30px;
  text-align: center;
}
.create-button:hover,
.create-button:focus {
  color: #01a89e;
  transform: translateY(-6px);
  box-shadow: 10px 10px 20px rgba(206, 223, 221, 0.953);
  border: none;
}

a {
  color: #fffbff;
  text-decoration: none;
  font-size: 15px;
}

.first-box {
  width: 470px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
