@import "@angular/material/prebuilt-themes/indigo-pink.css";

.container {
  width: 90%;
  height: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.font-fml {
  font-family: "REM", sans-serif;
}

.my-friend-card {
  width: 100%;
  margin: 0 auto;
}

mat-card-actions {
  display: flex;
  justify-content: space-between;
}

span {
  font-size: 14px;
  color: #878f9d;
}

.custom-button {
  color: #01a89e;
}

.custom-button:hover {
  color: white;
  background-color: #01a89e;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.view-profile {
  margin: 0 auto;
}
